<a href="https://colab.research.google.com/github/fc0712/DSBA-project-craigslistdata/blob/main/creating_regionaldata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("/content/drive/My Drive/Universitet/CBS/Kandidat/Cand.f√¶lles/Data Science Projekt/Data_zipped.zip")

In [18]:
df.state.value_counts()

ca    33085
fl    31929
tx    31137
nc    18628
mi    14529
ga    13841
oh    12884
tn    11541
co    11308
va    11063
ny     9991
sc     9932
pa     9911
il     9706
al     8196
or     8079
ks     7910
ia     7488
mn     7468
md     7451
la     7304
wa     7061
az     6753
wi     6646
in     6416
ok     5788
nj     5711
ky     5419
ut     5194
ms     4973
ma     4926
id     4466
ct     3765
nd     3428
ar     3149
nm     2917
nv     2846
ne     2697
dc     2502
ak     2169
mo     2158
de     2048
ri     1889
hi     1840
sd     1782
nh     1761
mt     1339
wv      819
vt      527
me      420
wy      187
Name: state, dtype: int64

In [19]:
df_cali = df[df.state =="ca"]

In [20]:
df_florida = df[df.state =="fl"]

In [21]:
df_texas = df[df.state == "tx"]

In [22]:
df_cali.to_csv("data_cali.csv")
df_florida.to_csv("data_florida.csv")
df_texas.to_csv("data_texas.csv")